* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    color: #000000;
}
@font-face {
    font-family: Exo2-Light;
    src: url(./res/fonts/Exo/Exo2-Light.ttf);
}
@font-face {
    font-family: Exo2-Medium;
    src: url(./res/fonts/Exo/Exo2-Medium.ttf);
}
@font-face {
    font-family: Exo2-Bold;
    src: url(./res/fonts/Exo/Exo2-Bold.ttf);
}