* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    color: #000000;
}
@font-face {
    font-family: Roboto-Regular;
    src: url(./res/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./res/fonts/Roboto/Roboto-Bold.ttf);
}