* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FFFFFF;
    color: #000000;
}
/* -- EXO 2 -- */
@font-face {
    font-family: Exo2-Light;
    src: url(./res/fonts/Exo/Exo2-Light.ttf);
}
@font-face {
    font-family: Exo2-Medium;
    src: url(./res/fonts/Exo/Exo2-Medium.ttf);
}
@font-face {
    font-family: Exo2-Bold;
    src: url(./res/fonts/Exo/Exo2-Bold.ttf);
}

/* -- INTER -- */
@font-face {
    font-family: Inter-Regular;
    src: url(./res/fonts/Inter/Inter_18pt-Regular.ttf);
}
@font-face {
    font-family: Inter-Medium;
    src: url(./res/fonts/Inter/Inter_18pt-Medium.ttf);
}
@font-face {
    font-family: Inter-Semibold;
    src: url(./res/fonts/Inter/Inter_18pt-Semibold.ttf);
}