/* HEADER */
header {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #212121;
}
#kd-nvbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
#kd-nvbar div {
  padding: 0;
}
#kd-navbar-cllps {
  flex-grow: unset;
}
.navbar-toggler {
  border: none;
  padding: 0;
}
.navbar-toggler:focus {
  outline: none;
  border: none;
}
.nav-link {
  font-family: "Exo2-Medium";
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}
.nav-lg {
  font-family: "Exo2-Bold";
}
.active {
  color: #00bbff !important;
}
.nav-link:hover {
  color: #86bbff;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.kd-copy {
  font-family: "Exo2-Medium";
  color: white;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

/*------------------- MOBILE --------------------*/
@media (min-width: 390px) and (max-width: 991px) {
  header {
    padding: 25px 5%;
  }
  .nav-link {
    padding: 0;
    letter-spacing: 2px;
    font-size: 12px;
  }
  .nav-lg {
    border: none;
    font-size: 18px;
  }
  .navbar-nav {
    flex-direction: column;
  }
  .navbar-nav {
    margin-bottom: 0 !important;
  }
  .nav-item {
    padding: 10px 0;
    margin: 15px 0;
    border-bottom: 2.5px solid #393939;
  }
  .kd-copy {
    font-size: 16px;
  }
}

/*------------------ DESKTOP --------------------*/
@media (min-width: 992px) {
  header {
    padding: 15px 5%;
  }
  .nav-link {
    letter-spacing: 3px;
    font-size: 14px;
  }
  .navbar-nav {
    column-gap: 15px;
  }
  .kd-copy {
    display: none;
  }
}
