/* MAIN */

/* HERO */
.nv-sect {
  margin: 0 10%;
}
.nv-sect h1,
.nv-sect h2 {
  font-family: "Exo2-Bold";
  margin: 0;
  letter-spacing: 1px;
}
.nv-sect h1 {
  color: #c1272d;
}
.nv-sect h2 {
  color: #000000 !important;
}
.nv-hero a {
  font-family: "Exo2-Medium";
  text-decoration: none;
  color: #ff1616;
}
.nv-subul {
  list-style: none;
  padding: 0;  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

/*------------------- MOBILE --------------------*/
@media (min-width: 390px) and (max-width: 991px) {
  /* HERO */
  .nv-sect {
    margin: 13% 5%;
  }
  .nv-hero {
    display: block;
  }
  .nv-sect h1 {
    font-size: 35px;
  }
  .nv-sect h2 {
    font-size: 25px;
    margin: 40px 0;
  }
  .nv-sect p {
    font-size: 18px;
    line-height: 1.6em;
    margin: 40px 0;
  }
  .nv-hero li {
    margin: 15px 0;
  }
  .nv-hero li a {
    font-size: 18px;
  }
  .nv-hero div {
    width: 100%;
  }
  .nv-subul {
    justify-content: flex-start;
    gap: 5%;
  }  
}

/*------------------ DESKTOP --------------------*/
@media (min-width: 992px) {
  /* HERO */
  .nv-sect {
    margin: 4% 5%;
  }
  .nv-sect h1 {
    font-size: 55px;
  }
  .nv-sect h2 {
    font-size: 35px;
    margin: 20px 0;
  }
  .nv-sect p {
    font-size: 18px;
    line-height: 35px;
    width: 65%;
  }
  .nv-hero {
    display: block;
  }
  #nv-bprofile {
    height: 300px;
    width: 300px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 50px;
  }
  .nv-hero li {
    margin: 25px 0;
  }
  .nv-hero li a {
    font-size: 18px;
  }
  .nv-hero div {
    width: 75%;
  }
  .nv-subul {
    justify-content: flex-start;
    gap: 2.5%;
  }
}
