/* PROJECTS/PORTAFOLIO */
.nv-work h1 {
  color: #000000;
}

/*------------------- MOBILE --------------------*/
@media (min-width: 390px) and (max-width: 991px) {
  /* WORK */
  .nv-work {
    padding: 0;
  }
  .nv-work h1 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

/*------------------ DESKTOP --------------------*/
@media (min-width: 992px) {
  /* WORK */
  .nv-work {
    margin: 5%;
  }
  .nv-work h1 {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
